beautifulsoup4==4.12.2
discord.py==2.1.0
joblib==1.2.0
keras==2.11.0
langdetect==1.0.9
nltk==3.8.1
numpy==1.24.2
openai==0.27.7
pandas==1.5.3
python-dotenv==1.0.0
Requests==2.31.0
scikit_learn==1.2.1
